.not-notes h1 {
  color: #f3f3f3 !important;
  font-weight: bold !important;
}

.container-content {
  width: 100%;
  height: 90vh;
  display: flex;
}

.container-content-sidebar {
  width: 20%;
  height: 75vh;
  border-right: 1px solid grey;
  overflow-x: hidden;
  overflow-y: auto;
}

.divider {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.divider:hover {
  background: rgba(0, 0, 0, 0.239);
  transition: all .2s linear
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 10px;
}

.left-tag {
  margin-left: 30px;
  font-weight: bold;
  color: grey;
  font-size: 14px;
}

.badge {
  width: 10px;
  height: 0px;
  padding: 11px;
  margin-right: 10px;
  border-radius: 5px;
  justify-content: space-between;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container-content-sidebar p:hover {
  color: aqua;
  border-bottom: 1px solid black;
} */

.container-content-item {
  width: 80%;
  height: 75vh;
  padding: 30px;
  /* display: grid; */
  /* grid-template-columns: 31% 31% 31%; */
  /* grid-template-columns: repeat(auto-fit, minmax(25%, 1fr)); */
  /* gap: 40px; */
  overflow-x: hidden;
  overflow-y: auto;
}

/* .container-content-add {
  width: 40%;
  height: 75vh;
  padding: 10px;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  grid-template-columns: repeat(auto-fit, minmax(31%, 1fr));
  overflow-x: hidden;
  overflow-y: auto;

} */

.grid-container {
  width: 100%;
  margin-bottom: 30px;
}

.grid-item {
  border-radius: 15px;
  transition: transform 0.3s ease-in-out;
}

.grid-item:hover {
  filter: opacity(0.9);
  transform: scale(1.02);
}

.content-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
}

.content-title h4 {
  color: #f3f3f3;
  font-weight: bold;
}

.right-tag {
  font-size: 10px;
  font-weight: bold;
  padding: 8px;
  border-radius: 5px;
  text-transform: uppercase;
}

.description {
  margin: 0;
  padding: 0px 20px 0px 20px;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none;
  color: #f3f3f3;
}

.options {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px 10px 20px;
}

.button-edit,
.button-delete {
  margin-right: 10px;
  border-radius: 60px;
  box-shadow: 0 0 2px #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.date {
  display: flex;
  justify-content: end;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  color: #f3f3f3;
}

@media (max-width: 1440px) {
  .container-content-item {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 1280px) {
  .container-content-item {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 1024px) {
  .container-content-item {
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  }

  .description {
    font-size: 16px;
  }
}

@media (max-width: 820px) {
  .container-content {
    display: block;
  }

  .container-content-sidebar {
    width: 100%;
    height: 35%;
  }

  .container-content-item {
    width: 100%;
    height: 56%;
  }

  /* .container-content-item {
    grid-template-columns: 100%;
  } */

  .description {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .container-content-item {
    width: 100%;
    height: 65%;
  }

  /* .container-content-item {
    grid-template-columns: 100%;
  } */

  .description {
    font-size: 15px;
  }
}

@media (max-width: 414px) {
  .container-content-item {
    grid-template-columns: 100%;
  }

  .description {
    font-size: 15px;
  }

  .date {
    font-size: 12px;
    margin-bottom: 10px;
  }
}

@media (max-width: 390px) {
  .container-content-item {
    grid-template-columns: 100%;
  }

  .description {
    font-size: 12px;
  }

  .date {
    font-size: 15px;
  }
}